--extra-index-url https://download.pytorch.org/whl/cu117
torch
torchvision
lightning
lightning
jsonargparse[signatures]
torchvision
transforms
segmentation_models_pytorch
datasets
tensorboard
rasterio
albumentations
matplotlib
